/* Ini css */
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
        height:50px;
        width:50px;
        background-image:url(../assets/1.png);
        background-position:center;
        background-size:cover;
        border-radius:50%;
        border:1px solid;
}

nav{
    display: flex;
}

nav>a{
    padding:8px;
    border:1px solid;
    text-decoration: none;
    color: black;
}

.banner-img{
    background-position: center;
    background-size: cover;
    height: 500px;
}

.banner-1{
    background-image: url(../assets/banner1.jpg);
}

.banner-2{
    background-image: url(../assets/banner2.jpg);
}

.banner-3{
    background-image: url(../assets/banner3.jpg);
}

.our-profile-content{
    border: 1px solid;
    height: 300px;
    align-content: center;
}

.achievement-content{
    border: 1px solid;
    height: 300px;
    align-content: center;
}

.message-us-content{
    border: 1px solid;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.message-us-content>div{
    border:1px solid;
    width: 300px;
}

footer{
    text-align: center;
}

/* Responsive */
@media only screen and (max-width:480px){
    .main-header{
        flex-direction: column;
    }
}